body {

    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 165);


}

h1, h2 {
    font-family: Arial,sans-serif ;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.image{
    float: inline-end;
    border: 5px solid rgb(58, 112, 197);
    border-radius: 10px;
    height: 300px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}