body {
    text-align: center;
    background-color: rgb(172, 201, 249);
    font-family: 'Times New Roman', Times, serif;

}
h1 {
    color:#e0e8ec;
    
}

.image{
    float: inline-end;
    border: 5px solid rgb(58, 112, 197);
    border-radius: 10px;
    height: 300px;
}


.
.button {
    background-color: #4ca8af; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2d259c; 
}


